@page "/prestamo/{idprestamo:int}"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" />

<hr>
@if (NombreCliente == "")
{

    <p><em>Cargando datos...</em></p>
    <hr>
}

<div class="bienvenido">
<h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
    <h2>Información detallada sobre el préstamo
    </h2>
</div>


<article>
<h3>Prestamo a detalle</h3>

    <Grid TItem="Prestamo" class="table table-hover table-bordered table-striped" DataProvider="PrestamoDataProvider" EmptyText="No hay algún préstamo para mostrar">

    <GridColumn TItem="Prestamo" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Fecha de solicitud">
        @context.Fecha
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Número de cuotas">
        @context.NumeroCuotas
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Monto cuota">
        @context.CuotaMensual
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Monto total">
        @context.MontoTotal
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Estado del préstamo" TextNoWrap="true">
        @context.Estado.Nombre
    </GridColumn>
</Grid>

<h5>Monto pendiente total: @MontoPendiente</h5>
</article>

<article>
<h3>Cuotas del préstamo</h3>

<Grid TItem="Cuota" class="table table-hover table-bordered table-striped" DataProvider="CuotasDataProvider" EmptyText="No hay ninguna cuota para mostrar">

    <GridColumn TItem="Cuota" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Cuota" HeaderText="Fecha tope para pagar">
        @context.Fecha
    </GridColumn>
    <GridColumn TItem="Cuota" HeaderText="Fecha pago realizado" TextNoWrap="true">
        @context.FechaPago
    </GridColumn>
    <GridColumn TItem="Cuota" HeaderText="Monto del pago" TextNoWrap="true">
        @context.Pago
    </GridColumn>
</Grid>
</article>



<article>
<h3>Historial de pago</h3>

<Grid TItem="Pago" class="table table-hover table-bordered table-striped" DataProvider="PagosDataProvider" EmptyText="No hay ningún pago para mostrar">

    <GridColumn TItem="Pago" HeaderText="Id del pago">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Pago" HeaderText="Id de la cuota pagada">
        @context.CuotaPagada.Id
    </GridColumn>
    <GridColumn TItem="Pago" HeaderText="Monto" TextNoWrap="true">
        @context.CuotaPagada.prestamo.CuotaMensual
    </GridColumn>

    <GridColumn TItem="Pago" HeaderText="Fecha pago realizado" TextNoWrap="true">
        @context.CuotaPagada.FechaPago
    </GridColumn>

</Grid>
</article>


 
