@page "/"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" />

<hr>
@if (NombreCliente == "")
{

    <p><em>Cargando datos...</em></p>
    <hr>
}

<div class="bienvenido">
    <h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
    <h2>Resumen</h2>
</div>

<article>
    <h3>Cuentas</h3>
    <Grid TItem="Cuenta" class="table table-hover table-bordered table-striped" DataProvider="CuentasDataProvider" EmptyText="No hay ninguna cuenta para mostrar">

        <GridColumn TItem="Cuenta" HeaderText="Identificador" TextNoWrap="true">
            @context.Identificador
        </GridColumn>
        <GridColumn TItem="Cuenta" HeaderText="Saldo">
            @Math.Round(context.Saldo, 2)
        </GridColumn>
    </Grid>
</article>


<article>
<h3>Préstamos activos</h3>
<Grid TItem="Prestamo" class="table table-hover table-bordered table-striped" DataProvider="PrestamosDataProvider" EmptyText="No hay ningún préstamo activo para mostrar">

    <GridColumn TItem="Prestamo" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Número de cuotas">
        @context.NumeroCuotas
    </GridColumn>   
    <GridColumn TItem="Prestamo" HeaderText="Monto cuota">
        @Math.Round(context.CuotaMensual, 2)
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Monto total">
            @Math.Round(context.MontoTotal, 2)

    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Estado del préstamo" TextNoWrap="true">
        @context.Estado.Nombre
    </GridColumn>
</Grid>
</article>
 