@page "/"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" Title=@ModalTitulo Message=@ModalMensaje>
    <BodyTemplate>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="CerrarModal">Cerrar</Button>
    </FooterTemplate>
</Modal>

@if (NombreCliente == "")
{
    <p><em>Cargando datos...</em></p>
}

<h4>Bienvenido @NombreCliente</h4>

<AuthorizeView>
    <Authorized>
        <h2>Resumen autorizaadooo</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Resumen no autorizaadooo</h2>
    </NotAuthorized>


</AuthorizeView>

<h3>Cuentas</h3>

<Grid TItem="Cuenta" class="table table-hover table-bordered table-striped" DataProvider="CuentasDataProvider" EmptyText="No hay ninguna cuenta para mostrar">
    
    <GridColumn TItem="Cuenta" HeaderText="Identificador" TextNoWrap="true">
        @context.Identificador
    </GridColumn>
    <GridColumn TItem="Cuenta" HeaderText="Saldo">
        @context.Saldo
    </GridColumn>
</Grid>


<h3>Préstamos activos</h3>
<Grid TItem="Prestamo" class="table table-hover table-bordered table-striped" DataProvider="PrestamosDataProvider" EmptyText="No hay ningún préstamo activo para mostrar">

    <GridColumn TItem="Prestamo" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Número de cuotas">
        @context.NumeroCuotas
    </GridColumn>   
    <GridColumn TItem="Prestamo" HeaderText="Monto cuota">
        @context.CuotaMensual
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Monto total">
        @context.MontoTotal
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Estado del préstamo" TextNoWrap="true">
        @context.Estado.Nombre
    </GridColumn>
</Grid>
 