@page "/cuenta"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" />


<hr>
@if (NombreCliente == "")
{
	<p><em>Cargando datos...</em></p>

	<hr>
}

<div class="bienvenido">
	<h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
	<h2>Información general de tu cuenta</h2>

</div>

<article>
	<h3>Cuenta</h3>
	<Grid TItem="Cuenta" class="table table-hover table-bordered table-striped" DataProvider="CuentasDataProvider" EmptyText="No hay ninguna cuenta para mostrar">

		<GridColumn TItem="Cuenta" HeaderText="Identificador" TextNoWrap="true">
			@context.Identificador
		</GridColumn>
		<GridColumn TItem="Cuenta" HeaderText="Saldo">
			@Math.Round(context.Saldo, 2)
		</GridColumn>
	</Grid>
</article>

<article>
	<h3>Movimientos realizados</h3>
	<Grid TItem="Movimiento" class="table table-hover table-bordered table-striped" DataProvider="MovimientosDataProvider" EmptyText="No hay ningún movimiento para mostrar">

		<GridColumn TItem="Movimiento" HeaderText="Id del movimiento">
			@context.Id
		</GridColumn>
		<GridColumn TItem="Movimiento" HeaderText="Tipo de movimiento">
			@context.TipoMovimiento.Nombre
		</GridColumn>
		<GridColumn TItem="Movimiento" HeaderText="Fecha">
			@context.Fecha.ToLocalTime()
		</GridColumn>

		<GridColumn TItem="Movimiento" HeaderText="Monto">
			@Math.Round(context.Monto, 2)
		</GridColumn>

		<GridColumn TItem="Movimiento" HeaderText="Cuenta receptora" TextNoWrap="true">
			@context.CuentaReceptoraIdentificador
		</GridColumn>

		<GridColumn TItem="Movimiento" HeaderText="Descripcion" TextNoWrap="true">
			@context.Descripcion
		</GridColumn>
	</Grid>
</article>

<article>
	<h3>Pagos de préstamos</h3>
	<Grid TItem="Pago" class="table table-hover table-bordered table-striped" DataProvider="PagosDataProvider" EmptyText="No hay ningún pago para mostrar">

		<GridColumn TItem="Pago" HeaderText="Id del pago">
			@context.Id
		</GridColumn>
		<GridColumn TItem="Pago" HeaderText="Id de la cuota pagada">
			@context.CuotaPagada.Id
		</GridColumn>
		<GridColumn TItem="Pago" HeaderText="Id del prestamo correspondiente">
			@context.CuotaPagada.prestamo.Id
		</GridColumn>
		<GridColumn TItem="Pago" HeaderText="Monto" TextNoWrap="true">
			@Math.Round(context.CuotaPagada.prestamo.CuotaMensual, 2)
		</GridColumn>

		<GridColumn TItem="Pago" HeaderText="Fecha pago" TextNoWrap="true">
			@context.CuotaPagada.FechaPago.ToLocalTime()
		</GridColumn>

	</Grid>
</article>



