@page "/prestamo"
@rendermode InteractiveServer

<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" />

<hr>
@if (NombreCliente == "")
{

    <p><em>Cargando datos...</em></p>
    <hr>
}

<div class="bienvenido">
<h4>Bienvenido @NombreCliente</h4>
</div>

<div class="titulo">
    <h2>Tus préstamos 
    </h2>
</div>


<article>
<h3>Prestamo a detalle</h3>

<Grid TItem="Prestamo"
    class="table table-hover table-bordered table-striped"
    DataProvider="PrestamoDataProvider"
    AllowSelection="true"
    EmptyText="No hay algún préstamo para mostrar"
    SelectedItemsChanged="OnSelectedItemsChanged"
    Responsive="true">

    <GridColumn TItem="Prestamo" HeaderText="Id">
        @context.Id
    </GridColumn>
    <GridColumn TItem="Prestamo" HeaderText="Fecha de solicitud">
            @context.Fecha.ToLocalTime()
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Monto total prestado">
        @Math.Round(context.MontoTotal, 2)
    </GridColumn>

    <GridColumn TItem="Prestamo" HeaderText="Estado del préstamo" TextNoWrap="true">
        @context.Estado.Nombre
    </GridColumn>
</Grid>


</article>

<input class="btn btn-dark" value="Consultar préstamo seleccionado" @onclick="ConsultarPrestamoSeleccionado" />