@page "/transferencia"
@rendermode InteractiveServer


<Modal @ref="modal" IsVerticallyCentered="true" UseStaticBackdrop="true" CloseOnEscape="false" ShowCloseButton="false" />

@if (NombreCliente == "")
{
    <hr>
    <div class="d-flex justify-content-center">
        <p><em>Cargando datos...</em></p>
        <Spinner Type="SpinnerType.Border" Class="ms-auto" Color="SpinnerColor.Success" Size="SpinnerSize.ExtraLarge" />
    </div>
    <hr>
}
<div class="bienvenido">
    <h4>Bienvenido @NombreCliente</h4>
</div>


<div class="titulo">
    <h2>Transferir</h2>
</div>


<EditForm Model="@modeloCuenta">
    <DataAnnotationsValidator />
    <article class="formdatoscuenta">
        <div class="form-group">
            <label for="Cuenta">Tu cuenta: </label>
            <InputText class="form-control" id="Cuenta" @bind-Value="@modeloCuenta.CuentaIdentificador" readonly />
        </div>

        <div class="form-group">
            <label for="Saldo">Saldo disponible: </label>
            <InputText class="form-control" id="Saldo" @bind-Value="@modeloCuenta.Saldo" readonly />
        </div>
    </article>
    <ValidationSummary />
</EditForm>



<EditForm Model="@modeloMovimientos" OnValidSubmit="Transferir">
    <DataAnnotationsValidator />
    <article class="formtransferencia">

        <div class="form-group">
            <label for="Recipiente">Cuenta a transferir: </label>
            <InputText class="form-control" id="Recipiente" @bind-Value="modeloMovimientos.CuentaReceptoraIdentificador" placeholder="123456789012" required />
        </div>
        <div class="form-group">
            <label for="Monto">Monto a transferir: </label>
            <InputNumber class="form-control" id="Monto" @bind-Value="modeloMovimientos.Monto" min="0.001" required />
        </div>
        <div class="form-group">
            <label for="Descripcion">Descripción: </label>
            <InputText class="form-control" id="Descripcion" @bind-Value="modeloMovimientos.Descripcion" required />
        </div>


        <div class="inputspinner">
            <button type="submit" class="btn btn-dark">Transferir</button>
            <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Success" Visible="@spinnerVisible" Size="SpinnerSize.ExtraLarge" />
        </div>




    </article>
    <ValidationSummary />
</EditForm>

